.container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:100px auto 100px;
    height:100vh;
    width:70%;
    margin:0 auto;
}
header{
    background-color:palevioletred;
   
   grid-column-start:span 3;

}
aside{
    background-color:skyblue;
    grid-column-start:span 1;
}
main{
    background-color:wheat;
    grid-column-start:span 2;
}
footer{
    background-color:grey;
    grid-column-start:span 3;
}
@media (max-width:768px){
    .container{
        grid-template-columns:1 fr;
        grid-template-rows:100px auto auto 100px;

    }
    header,aside,main,footer{
        grid-column-start:span
    }
}